h1 {
	font-family: Segoe UI;
	text-align: center;
}

p {
	font-family: Segoe UI;
	text-align: center;
}

/*Navbar Stuff*/
.navbar li {
    display: inline;
    padding: 7px;
    margin-right: 4px;
}

/*Removes Dot Points from the list*/
ul {
	list-style-type: none;
}

/*Login/Sign Up Stuff*/
.login li {
    display: inline;
    padding: 7px;
    margin-right: 4px;
}